body {
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

.hero {
    position: relative;
    padding: 70px 50px 90px;
    background-size: cover;
    z-index: 10;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: block;
}

.content {
    position: relative;
    text-align: justify;
    background-color: black;
    min-height: 400px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
}

.two-column-layout {
    padding: 70px 0;
}

.two-column-row:not(:last-child) {
    margin-bottom: 100px;
}

.two-column-row:nth-child(odd) .column-text {
    margin-left: 30px;
}

.column-text {
    max-width: 49%;
    text-align: left;
}


.two-column-row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.column-text h2 {
    margin: 0 0 50px;
}

.anchorAf {
    position: relative;
}

.section-title {
    font-size: 162.5%;
    font-weight: normal;
    color: #FF7E00;
}

a {
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: gold;
  }

  html, body {
    width: 100%;
    height:100%;
  }
  
  .hero {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }